body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1;
}

#showcase{
    background-image: url("../images/showcase.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:top;
    align-items:center;
    text-align:top;
    padding:0 20px;
}

#showcase h1{
    font-size: 40px;
}

#showcase h2{
    font-size: 15px;
}

#showcase .button{
    font-size: 10px;
    text-decoration:none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border-radius: 5px;
    margin-top: .6px;
    

}
