body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: antiquewhite;
    line-height: 1.5;
}

#showcase{
    background-image: url("../images/showcase.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}